/* ------------ general ------------ */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 62.5%;
}

.App {
  /* position: relative; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
  justify-content: space-evenly;
  height: 100vh;
}

.loading {
  /* left: 50vw;
  top: 50vh;
  transform: translate(-50%, -50%);
  position: absolute; */
}

body,
button,
div {
  -webkit-touch-callout: none !important;
}

/* ------------ game ------------ */
.stats {
  height: 7rem;
  font-size: 7.5rem;
  display: flex;
  place-content: space-evenly;
  align-items: center;
}

.stats-time {
  background-color: rebeccapurple;
  padding: 0rem 3rem;
  border-radius: 2rem;
}

.stats-minesLeft {
  background-color: rebeccapurple;
  padding: 0rem 3rem;
  border-radius: 2rem;
}

.board {
  max-width: 80vw;
  display: flex;
  flex-direction: column;
  justify-items: center;
  margin: auto;
  text-align: center;
  align-items: center;
}

.row {
  display: flex;
  flex-direction: row;
}

.cell {
  border: 1px solid black;
  align-items: center;
  min-height: 35px;
  min-width: 35px;
}

/* ------------ failed ------------ */

.failed {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  min-height: 30vh;
  justify-content: space-evenly;
}

.failed h2 {
  font-size: 3.5rem;
}

button.startOverBtn {
  padding: 2rem 3rem;
  font-size: 1.5rem;
}

.failed h3 {
  font-size: 2.5rem;
}

/* buttons */

button.settingBtn {
  font-size: 1.5rem;
  padding: 2rem 3rem;
  border-radius: 1rem;
  margin: 1rem 3rem;
}

.cell button {
  font-size: 0;
  font-weight: 800;
  min-height: 100%;
  min-width: 100%;
  padding: 0;
  background-color: #998fd0;
  font-size: 0;
  transition: all 0.5s;
}

button.btn.flag {
  font-size: 2.5rem;
  transform: rotate(360deg);
  color: #e50808;
  background-color: #484362;
}
button.btn.question {
  transform: rotate(720deg);
  font-size: 2.5rem;
  color: #dbce23;
  background-color: #484362;
}

button:disabled,
button[disabled],
button[disabled].btn.question,
button[disabled].btn.flag,
button[disabled].btn.regular {
  font-size: 2.5rem;
  background-color: #d1c8ffc9;
}

.btn-choices {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
}

.aboutToChange-background {
  z-index: 5;
  position: fixed;
  background-color: rgba(1, 1, 1, 0.5);
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}
