/* ------------ general ------------ */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 62.5%;
}

.App {
  /* position: relative; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
  justify-content: space-evenly;
  height: 100vh;
}

.loading {
  /* left: 50vw;
  top: 50vh;
  transform: translate(-50%, -50%);
  position: absolute; */
}

body,
button,
div {
  -webkit-touch-callout: none !important;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

/* ------------ game ------------ */
.stats {
  height: 7rem;
  font-size: 7.5rem;
  display: flex;
  place-content: space-evenly;
  align-items: center;
}

.stats-time {
  background-color: rebeccapurple;
  padding: 0rem 3rem;
  border-radius: 2rem;
}

.stats-minesLeft {
  background-color: rebeccapurple;
  padding: 0rem 3rem;
  border-radius: 2rem;
}

.board {
  max-width: 80vw;
  display: flex;
  flex-direction: column;
  justify-items: center;
  margin: auto;
  text-align: center;
  align-items: center;
}

.row {
  display: flex;
  flex-direction: row;
}

.cell {
  border: 1px solid black;
  align-items: center;
  min-height: 3.7rem;
  min-width: 3.7rem;
}

/* ------------ failed ------------ */

.failed {
  display: flex;
  position: absolute;
  flex-direction: column;
  align-items: center;
  text-align: center;
  height: 100vh;
  width: 100vw;
  justify-content: center;
  background-color: rgba(101, 52, 153, 0.8);
  z-index: 10;
}

.failed h2 {
  font-size: 3.5rem;
}

button.startOverBtn {
  padding: 2rem 3rem;
  font-size: 1.5rem;
}

.failed h3 {
  font-size: 2.5rem;
  margin: 2rem;
}

/* ------------ success ------------ */
.success {
  display: flex;
  position: absolute;
  flex-direction: column;
  align-items: center;
  text-align: center;
  height: 100vh;
  width: 100vw;
  justify-content: center;
  background-color: rgba(131, 86, 180, 1);
  z-index: 10;
}
.success h1 {
  font-size: 2.6rem;
  margin-bottom: 1.5rem;
}

/* buttons */

button.settingBtn {
  font-size: 1.5rem;
  padding: 1.5rem 2rem;
  border-radius: 1rem;
  margin: 1rem 3rem;
}

.cell button {
  font-size: 0;
  font-weight: 800;
  min-height: 100%;
  min-width: 100%;
  padding: 0;
  background-color: #998fd0;
  font-size: 0;
  transition: all 0.5s;
}

button.btn.flag {
  font-size: 2.5rem;
  transform: rotate(360deg);
  color: #e50808;
  background-color: #484362;
}
button.btn.question {
  transform: rotate(720deg);
  font-size: 2.5rem;
  color: #dbce23;
  background-color: #484362;
}

button:disabled,
button[disabled],
button[disabled].btn.question,
button[disabled].btn.flag,
button[disabled].btn.regular {
  font-size: 2.5rem;
  background-color: #d1c8ffc9;
}

.btn-choices {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
}

.aboutToChange-background {
  z-index: 5;
  position: fixed;
  background-color: rgba(1, 1, 1, 0.5);
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}

.settings-toggle {
  font-size: 1.6rem;
}
.MuiButton-containedPrimary {
  font-size: 2;
}
/* ------------ settings ------------ */
.settings {
  display: flex;
  flex-direction: column;
  position: absolute;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  background: #b479f2;
  z-index: 15;
}
.settings-btns {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #653499e0;
  height: 100vh;
  width: 100vw;
  z-index: 10;
}

.settingsItem {
  width: 30vw;
  font-size: 3rem;
  margin: 2rem auto;
}
.saveChanges-btn {
  margin: 3rem auto;
}

@media only screen and (max-width: 37.5em) {
  /*  600px */
  * {
    font-size: 50%;
  }
}

@media only screen and (max-width: 56.25em) {
  /*  900px */
  * {
    font-size: 56.25%;
  }
  .settingsItem {
    width: 90vw;
  }
}

@media only screen and(min-width: 112.5em) {
  /* 1800px */
  * {
    font-size: 75%;
  }
}
